{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{{ 'import.new'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .back-to-top-btn {
            cursor: pointer;
            position: fixed;
            bottom: 20px;
            right: 20px;
            display:none;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row my-3">
            <div class="col">
                <div class="card">
                    <h5 class="card-header">{{ 'import.consumption_file'|trans }}</h5>
                    <div class="card-body">
                        {{ form_start(form) }}
                        {{ form_row(form.file) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-3">
            <div class="col">
                {% set flash_errors = app.flashes('error') %}
                {% if flash_errors is not empty %}
                    <h3>{{ 'import.error_title'|trans }}</h3>
                    {% for message in flash_errors %}
                        <div class="flash-error">
                            <ul>
                                <li>{{ message }}</li>
                            </ul>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        {% if imported_consumption is defined %}
            <hr/>
            <div class="row my-3">
                <div class="col">
                    <h5>{{ 'import.preview'|trans }}</h5>
                    <h6 class="mb-2">
                        <i class="fas fa-calendar-alt text-secondary"></i>
                        {{ (imported_consumption|first).datetime | date("d-m-Y") }}
                        <i class="fas fa-angle-right"></i>
                        {{ (imported_consumption|last).datetime | date("d-m-Y") }}
                    </h6>
                    <div id="alert-review" class="alert alert-danger d-none" role="alert">
                        <i class="fas fa-exclamation-triangle text-danger"></i>&nbsp;The import contains hours without consumption, review and fix the data before go on.
                    </div>
                </div>
            </div>
            {% block import_actions %}
                <div class="row my-3">
                    <div class="col">
                        <a href="{{ path('process_import') }}" class="btn btn-success btn-sm">{{ 'btn.import'|trans }}</a>
                        <a href="{{ path('cancel_import') }}" class="btn btn-outline-danger btn-sm float-right">{{ 'btn.cancel'|trans }}</a>
                    </div>
                </div>
            {% endblock %}
            <div class="row">
                <div class="col">
                    <table class="table table-sm table-bordered table-hover">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">{{ 'common.date'|trans }}</th>
                            <th scope="col">{{ 'common.hour'|trans }}</th>
                            <th scope="col">{{ 'common.consumption'|trans }}&nbsp;({{ 'units.watts_hour'|trans }})</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for consumption in imported_consumption %}
                            {% if last_date is defined and last_date != consumption.datetime | date("d-m-Y")  %}
                                <tr>
                                    <td class="table-secondary" colspan="3"></td>
                                </tr>
                            {% else %}
                                <tr class="{{ consumption.consumption == 0 ? 'text-danger font-weight-bold to-review' : '' }}">
                                    <th scope="col">{{ consumption.datetime | date("d-m-Y") }}</th>
                                    <td>{{ consumption.datetime | date("H") }}{{ 'units.hour'|trans }}</td>
                                    <td>{{ consumption.consumption | number_format }}</td>
                                </tr>
                            {% endif %}
                            {% set last_date = consumption.datetime | date("d-m-Y") %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <a id="back-to-top-btn" href="#" class="btn btn-dark back-to-top-btn">
                <i class="fas fa-chevron-up"></i>
            </a>
            {{ block('import_actions') }}
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            if ($('.to-review').length > 0) {
                $('#alert-review').removeClass('d-none');
            }
            /* To fix bug with file inputs
             * +info: https://stackoverflow.com/questions/48613992/bootstrap-4-file-input-doesnt-show-the-file-name
             */
            $('#consumption_import_file').on('change',function(e){
                var fileName = e.target.files[0].name;
                $('.custom-file-label').html(fileName);
            });


            $(window).scroll(function () {
                if ($(this).scrollTop() > 50) {
                    $('#back-to-top-btn').fadeIn();
                } else {
                    $('#back-to-top-btn').fadeOut();
                }
            });

            // scroll body to 0px on click
            $('#back-to-top-btn').click(function () {
                $('body,html').animate({
                    scrollTop: 0
                }, 800);
                return false;
            });
        });
    </script>
{% endblock %}

