{% extends "base.html.twig" %}
{% use "daterange_picker/settings.html.twig" %}

{% block title %}{{ parent() }}{{ 'nav.consumption.insights'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/daterangepicker.css') }}" />
    <style type="text/css">
        #page-overlay {
            position: fixed;
            width: 100%;
            height:100%;
            display: flex;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.75);
            z-index: 1;
        }
    </style>
{% endblock %}

{% block body %}
    <div id="page-overlay" style="display: none;">
        <div class="spinner spinner-border" role="status" style="margin-left: 50%;"></div>
    </div>

    <div class="container">
        <div class="row mt-2 mb-4">
            <div class="col-12">
                <div class="float-right">
                    <form id="date_range_selector_form" class="form-inline" method="post" action="{{ path('view_insights') }}">
                        <button type="button" id="daterange_picker" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="far fa-calendar-alt"></i>&nbsp;
                            {{ app.session.get('datetimeFrom') | date("d-m-Y") }} <i class="fas fa-angle-right"></i> {{ app.session.get('datetimeTo') | date("d-m-Y") }}
                        </button>
                        <div class="dropdown-menu" style="display: none;">
                        </div>
                        <input type="hidden" name="date_range_start" value=""/>
                        <input type="hidden" name="date_range_end" value=""/>
                    </form>
                </div>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'insights.card.period.title'|trans }}</h5>
                        <p class="card-text">
                            <i class="far fa-calendar-alt text-info"></i>&nbsp;
                            {{ app.session.get('datetimeFrom') | date("d-m-Y") }}  -
                            {{ app.session.get('datetimeTo') | date("d-m-Y") }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'insights.card.total_consumption.title'|trans }}</h5>
                        <p class="card-text">
                            <i class="fas fa-bolt text-warning"></i>&nbsp;
                            {{ total_consumption | number_format }}&nbsp;{{ 'units.kilowatts_hour'|trans }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'insights.card.total_consumption.title'|trans }}</h5>
                        <p class="card-text">
                            <i class="far fa-money-bill-alt text-success"></i>&nbsp;
                            {{ amount_consumption_euros | number_format(2, ',', '.') }}&nbsp;{{ 'units.euro'|trans }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'insights.card.aggregated_consumption.title'|trans }}</h5>
                        <h6 class="card-subtitle mb-3 text-muted">{{ 'insights.card.aggregated_consumption.subtitle.by_day_of_week'|trans }}</h6>
                        <table class="table table-sm">
                            <tr>
                                <td>{{ 'days.monday'|trans }}</td>
                                <td>{{ aggregated_consumption_dow[1] | number_format(1, ',', '.') }}&nbsp;{{ 'units.kilowatts_hour'|trans }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'days.tuesday'|trans }}</td>
                                <td>{{ aggregated_consumption_dow[2] | number_format(1, ',', '.') }}&nbsp;{{ 'units.kilowatts_hour'|trans }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'days.wednesday'|trans }}</td>
                                <td>{{ aggregated_consumption_dow[3] | number_format(1, ',', '.') }}&nbsp;{{ 'units.kilowatts_hour'|trans }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'days.thursday'|trans }}</td>
                                <td>{{ aggregated_consumption_dow[4] | number_format(1, ',', '.') }}&nbsp;{{ 'units.kilowatts_hour'|trans }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'days.friday'|trans }}</td>
                                <td>{{ aggregated_consumption_dow[5] | number_format(1, ',', '.') }}&nbsp;{{ 'units.kilowatts_hour'|trans }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'days.saturday'|trans }}</td>
                                <td>{{ aggregated_consumption_dow[6] | number_format(1, ',', '.') }}&nbsp;{{ 'units.kilowatts_hour'|trans }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'days.saturday'|trans }}</td>
                                <td>{{ aggregated_consumption_dow[7] | number_format(1, ',', '.') }}&nbsp;{{ 'units.kilowatts_hour'|trans }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'insights.card.aggregated_consumption.title'|trans }}</h5>
                        <h6 class="card-subtitle mb-3 text-muted">{{ 'insights.card.aggregated_consumption.subtitle.by_day_of_week'|trans }}</h6>
                        <canvas id="dow_consumption_chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'insights.card.top_5_hours.title'|trans }}</h5>
                        <h6 class="card-subtitle mb-3 text-muted">{{ 'insights.card.top_5_hours.subtitle'|trans }}</h6>
                        <table class="table table-sm">
                            {% for hour, consumption in aggregated_consumption_hour_sort_desc | slice(0, 5, true) %}
                                <tr>
                                    <td>{{ hour }}{{ 'units.hour'|trans }}</td>
                                    <td>{{ consumption | number_format(1, ',', '.') }}&nbsp;{{ 'units.kilowatts_hour'|trans }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'insights.card.aggregated_consumption.title'|trans }}</h5>
                        <h6 class="card-subtitle mb-3 text-muted">{{ 'insights.card.aggregated_consumption.subtitle.by_hour'|trans }}</h6>
                        <canvas id="hour_consumption_chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-sm-6">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'insights.card.tempo_happy_2h.title'|trans }}</h5>
                        <h6 class="card-subtitle mb-3 text-white-50">{{ 'insights.card.tempo_happy_2h.subtitle'|trans }}</h6>
                        {% if two_consecutive_hours_greater_consumption is not empty %}
                            <p class="card-text">{{ two_consecutive_hours_greater_consumption[0] }}:00{{ 'units.hour'|trans }}, {{ two_consecutive_hours_greater_consumption[1] }}:00{{ 'units.hour'|trans }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'insights.card.tempo_happy_2h.title'|trans }}</h5>
                        <h6 class="card-subtitle mb-3 text-white-50">{{ 'insights.card.tempo_happy_50h.subtitle'|trans }}</h6>
                        <p class="card-text">{{ consumption_during_50_hours_greater_consumption | number_format(1, ',', '.') }}&nbsp;{{ 'units.kilowatts_hour'|trans }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-2">
            <div class="col-sm-12">
                <div class="card text-white bg-warning mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'insights.card.tempo_solar.title'|trans }}</h5>
                        <h6 class="card-subtitle mb-3 text-black-50">{{ 'insights.card.tempo_solar.subtitle'|trans }}</h6>
                        <table class="table table-sm bg-white text-dark text-center">
                            <thead>
                            <tr>
                                <th>{{ 'insights.card.tempo_solar.table.tempo_hours_col'|trans }}</th>
                                <th>{{ 'insights.card.tempo_solar.table.rest_col'|trans }}</th>
                                <th>{{ 'insights.card.tempo_solar.table.discount_col'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ consumption_tempo_solar | number_format(1, ',', '.') }}&nbsp;{{ 'units.kilowatts_hour'|trans }}</td>
                                <td>{{ (total_consumption - consumption_tempo_solar) | abs | number_format(1, ',', '.') }}&nbsp;{{ 'units.kilowatts_hour'|trans }}</td>
                                <td>{{ discount_tempo_solar_consumption | number_format(2, ',', '.') }}&nbsp;{{ 'units.euro'|trans }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/Chart.bundle.min.js') }}"></script>
    <script>
        buildDayOfWeekConsumptionChart();
        buildHourConsumptionChart();

        function buildDayOfWeekConsumptionChart() {
            var chart_data = {
                'labels': [
                    "{{ 'days.monday'|trans }}",
                    "{{ 'days.tuesday'|trans }}",
                    "{{ 'days.wednesday'|trans }}",
                    "{{ 'days.thursday'|trans }}",
                    "{{ 'days.friday'|trans }}",
                    "{{ 'days.saturday'|trans }}",
                    "{{ 'days.sunday'|trans }}"
                ],
                'data': [
                    {% for consumption in aggregated_consumption_dow %}
                    {{ consumption }},
                    {% endfor %}
                ]
            };

            var ctx = document.getElementById('dow_consumption_chart').getContext('2d');
            var chart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: chart_data['labels'],
                    datasets: [{
                        label: "{{ 'common.consumption'|trans }} ({{ 'units.kilowatts_hour'|trans }})",
                        backgroundColor: '#5ea8ff',
                        borderColor: '#5ea8ff',
                        data: chart_data['data'],
                    }]
                },
                options: {
                    legend: {
                        display: false
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        }

        function buildHourConsumptionChart() {
            var chart_data = {
                'labels': [
                    {% for hour in 0..23 %}
                    "{{ '%02d'|format(hour) }}{{ 'units.hour'|trans }} - {{ '%02d'|format(hour+1) }}{{ 'units.hour'|trans }}",
                    {% endfor %}
                ],
                'data': [
                    {% for consumption in aggregated_consumption_hour %}
                        "{{ consumption }}",
                    {% endfor %}
                ]
            };

            var ctx = document.getElementById('hour_consumption_chart').getContext('2d');
            var chart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: chart_data['labels'],
                    datasets: [{
                        label: "{{ 'common.consumption'|trans }} ({{ 'units.kilowatts_hour'|trans }})",
                        backgroundColor: '#0055b4',
                        borderColor: '#0073ff',
                        data: chart_data['data'],
                    }]
                },
                options: {
                    legend: {
                        display: false
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        }
    </script>

    <script src="{{ asset('js/moment.min.js') }}"></script>
    <script src="{{ asset('js/daterangepicker.min.js') }}"></script>

    {% block daterange_picker_settings %}{{ parent() }}{% endblock %}
    <script>
        $('document').ready(function () {
            $('#daterange_picker').daterangepicker(daterange_picker_settings, function(start, end) {
                dateRangeSelected(start.format('YYYY-MM-DD'), end.format('YYYY-MM-DD'));
            });
        });

        function dateRangeSelected(dateStart, dateEnd) {
            $('#page-overlay').show();
            $('input[name="date_range_start"]').val(dateStart);
            $('input[name="date_range_end"]').val(dateEnd);
            $('#date_range_selector_form').submit();
        }
    </script>
{% endblock %}