{% extends "base.html.twig" %}

{% block title %}{{ parent() }}{{ 'nav.dashboard'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/daterangepicker.css') }}" />
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row mt-3">
            <div class="col">
                {{ block('flash_alerts', 'alerts/alerts.html.twig') }}
            </div>
        </div>

        <div class="row my-2">
            <div class="col-12 col-lg-6 my-1">
                <div class="card">
                    <h5 class="card-header">{{ 'dashboard.card.last_num_days_consumption.header'|trans({'%num%': 10}) }}</h5>
                    <div class="card-body py-3 px-0 p-sm-2 p-lg-4">
                        <canvas id="day_consumption_chart"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 my-1">
                <div class="card">
                    <h5 class="card-header">{{ 'dashboard.card.day_consumption_hour.header'|trans }}</h5>
                    <div class="card-body py-3 px-1 p-sm-2 p-lg-4">
                        <div id="block_day_selector">
                            <label class="my-1 mr-2 card-tex" for="day_picker">{{ 'dashboard.card.day_consumption_hour.select_day_label'|trans }}</label>
                            <button type="button" id="day_picker" class="btn btn-outline-primary dropdown-toggle">
                                <i class="far fa-calendar-alt"></i>&nbsp;
                                <span class="btn-text">{{ current_date }}</span>
                            </button>

                            <div class="alert alert-danger alert-dismissible fade show my-2" role="alert" style="display: none;">
                                <span class="alert-message"></span>
                                <button type="button" class="close alert-close-btn" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>

                        <div class="mt-4">
                            <canvas id="hour_consumption_chart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/moment.min.js') }}"></script>
    <script src="{{ asset('js/daterangepicker.min.js') }}"></script>
    <script src="{{ asset('js/Chart.bundle.min.js') }}"></script>
    <script src="{{ asset('js/vcs/barchart_builder.js') }}"></script>
    {{ block('daterange_picker_settings', 'daterange_picker/settings.html.twig') }}

    <script>
        $('document').ready(function () {

            buildDayConsumptionChart();
            loadHourConsumptionChart(moment().format('YYYY-MM-DD'));

            daterange_picker_settings.singleDatePicker = true;
            daterange_picker_settings.startDate = moment();
            daterange_picker_settings.ranges = null;
            $('#day_picker').daterangepicker(daterange_picker_settings, function(date) {
                loadHourConsumptionChart(date.format('YYYY-MM-DD'));
                $('#day_picker .btn-text').text(date.format("{{ 'daterange_picker.date_format'|trans }}"))
            });

            $('#block_day_selector .alert-close-btn').on('click', function () {
                $('#block_day_selector .alert').hide();
            });
        });

        function loadHourConsumptionChart(day_date) {
            $('#block_day_selector .alert').hide();

            $.ajax({
                method: "POST",
                url: "{{ path('day_stats_ajax') }}",
                dataType: "json",
                data: {
                    day_date: day_date,
                }
            }).done(function( result ) {
                if (!result.result) {
                    $('#block_day_selector .alert-message').html(result.error_message);
                    $('#block_day_selector .alert').show();
                } else {
                    buildHourConsumptionChart(result.result);
                }
            });
        }

        function buildDayConsumptionChart() {
            var chart_settings = {
                'labels': [
                    {% for date in consumption_last_days|keys %}
                    "{{ date | date("app.date_format"|trans) }}",
                    {% endfor %}
                ],
                'data': [
                    {% for day_consumption in consumption_last_days %}
                    "{{ day_consumption | number_format(1) }}",
                    {% endfor %}
                ],
                'bg_color': '#248eff',
                'borderColor': '#248eff',
                'tooltip_label': "{{ 'common.consumption'|trans }}: %s {{ 'units.kilowatts_hour'|trans }}",
                'decimal_separator': "{{ 'app.decimal_separator'|trans }}",
            };

            buildBarChart(
                document.getElementById('day_consumption_chart').getContext('2d'),
                chart_settings
            );
        }


        var hour_consumption_chart_instance = null;

        function buildHourConsumptionChart(data) {
            if (hour_consumption_chart_instance) {
                hour_consumption_chart_instance.destroy();
            }

            var chart_settings = {
                'labels': [
                    {% for hour in 0..23 %}
                        {% if hour%2 == 0 %}
                            "{{ '%02d'|format(hour) ~ 'units.hour'|trans }}",
                        {% else %}
                            "",
                        {% endif %}
                    {% endfor %}
                ],
                'tooltip_titles': [
                    {% for hour in 0..23 %}
                    "{{ '%02d'|format(hour) }}{{ 'units.hour'|trans }} - {{ '%02d'|format(hour+1) }}{{ 'units.hour'|trans }}",
                    {% endfor %}
                ],
                'data': data,
                'bg_color': '#ffc107',
                'borderColor': '#ffc107',
                'tooltip_label': "{{ 'common.consumption'|trans }}: %s {{ 'units.watts_hour'|trans }}",
                'decimal_separator': "{{ 'app.decimal_separator'|trans }}",
            };

            hour_consumption_chart_instance = buildBarChart(
                document.getElementById('hour_consumption_chart').getContext('2d'),
                chart_settings
            );
        }
    </script>
{% endblock %}